block vars
  -
    var page = data.pages.index;

doctype html
html(lang="ja")
  head
    include ./_layout/_head.pug
  body
  h1 imitate css
  a.js-scroll-item.js-hover(
    href = '/imitate-css/imitate/0221.html',
    )
    |test
