block vars
  -
    var page = data.pages.index;

doctype html
html(lang="ja")
  head
    include ./_layout/_head.pug
  body
    .p-index-content
      h1
        |imitate
      ul
        li
          a(href="./moves/") Pjax with preload
      script.
        const ua = window.navigator.userAgent;
        const link = document.querySelector('link[as=style]');
        if (ua.indexOf('Chrome') < 0) link.rel = 'stylesheet';
