.l-contents {
  width: 100%;
  line-height: 2;
  overflow: hidden;
  position: relative;
  z-index: 10;
  @include fontSizeAll(14, 14, 12);
  &.is-fixed {
    position: fixed;
    top: 0; right: 0; left: 0;
  }
  &--basic {
    opacity: 0;
    &.is-arrived-contents {
      opacity: 1;
      transition-duration: .6s;
      transition-property: opacity;
    }
    &.is-leaved-contents {
      opacity: 0;
      transition-duration: .6s;
      transition-property: opacity;
    }
  }
}
