extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.moves.index;

block content
  .p-moves
    h1.p-moves__title
      |moves
    nav.p-moves-nav.js-open
      ul.p-moves-nav__list
        li.p-moves-nav__item
          a.p-moves-nav__link(href="https://www.google.co.jp/" ) Intro
        li.p-moves-nav__item
          a.p-moves-nav__link(href="https://www.google.co.jp/" ) The Building
        li.p-moves-nav__item
          a.p-moves-nav__link(href="https://www.google.co.jp/" ) Neighborhood
        li.p-moves-nav__item
          a.p-moves-nav__link(href="https://www.google.co.jp/" ) Our Vision
        li.p-moves-nav__item
          a.p-moves-nav__link(href="https://www.google.co.jp/" ) The Pursuit
