extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.moves.index;
    var pageHtmlStyle = "font-size:10px;"

block content
  .p-moves-body
    .p-moves-base
      .p-moves-content
        .p-moves-content__title
          h1 moves
        a(href="/imitate-css/").p-moves-content__link < top
        .p-moves-content__texts
          h2 夢十夜 夏目漱石
          h3 第一夜
          p （以下はテストテキストです）
          p こんな夢を見た。
            br
            |腕組をして枕元に
            ruby
              rb 坐
              rp )
              rt すわ
              rp ）
            |っていると、
            ruby
              rb 仰向
              rp (
              rt あおむき
              rp ）
            |に寝た女が、静かな声でもう死にますと云う。女は長い髪を枕に敷いて、
            ruby
              rb 輪郭
              rp (
              rt りんかく
              rp ）
            |の
            ruby
              rb 柔
              rp (
              rt やわ
              rp ）
            |らかな
            ruby
              rb 瓜実
              rp (
              rt うりざね
              rp ）
            ruby
              rb 顔
              rp (
              rt がお
              rp ）
            |をその中に横たえている。真白な頬の底に温かい血の色がほどよく差して、
            ruby
              rb 唇
              rp (
              rt くちびる
              rp ）
            |の色は無論赤い。とうてい死にそうには見えない。しかし女は静かな声で、もう死にますと
            ruby
              rb 判然
              rp (
              rt はっきり
              rp ）
            |云った。自分も
            ruby
              rb 確
              rp (
              rt たしか
              rp ）
            |にこれは死ぬなと思った。そこで、そうかね、もう死ぬのかね、と上から
            ruby
              rb 覗
              rp (
              rt のぞ
              rp ）
            |き込むようにして聞いて見た。死にますとも、と云いながら、女はぱっちりと眼を
            ruby
              rb 開
              rp (
              rt あ
              rp ）
            |けた。大きな
            ruby
              rb 潤
              rp (
              rt うるおい
              rp ）
            |のある眼で、長い
            ruby
              rb 睫
              rp (
              rt まつげ
              rp ）
            |に包まれた中は、ただ一面に真黒であった。その真黒な
            ruby
              rb 眸
              rp (
              rt ひとみ
              rp ）
            |の奥に、自分の姿が
            ruby
              rb 鮮
              rp (
              rt あざやか
              rp ）
            |に浮かんでいる。
            br
            |自分は
            ruby
              rb 透
              rp (
              rt す
              rp ）
            |き
            ruby
              rb 徹
              rp (
              rt とお
              rp ）
            |るほど深く見えるこの黒眼の
            ruby
              rb 色沢
              rp (
              rt つや
              rp ）
            |を眺めて、これでも死ぬのかと思った。それで、ねんごろに枕の
            ruby
              rb 傍
              rp (
              rt そば
              rp ）
            |へ口を付けて、死ぬんじゃなかろうね、大丈夫だろうね、とまた聞き返した。すると女は黒い眼を眠そうに
            ruby
              rb 瞠
              rp (
              rt みはっ
              rp ）
            |たまま、やっぱり静かな声で、でも、死ぬんですもの、仕方がないわと云った。
            br
            |じゃ、
            ruby
              rb 私
              rp (
              rt わたし
              rp ）
            |の顔が見えるかいと
            ruby
              rb 一心
              rp (
              rt いっしん
              rp ）
            |に聞くと、見えるかいって、そら、そこに、写ってるじゃありませんかと、にこりと笑って見せた。自分は黙って、顔を枕から離した。腕組をしながら、どうしても死ぬのかなと思った。
            br
            |しばらくして、女がまたこう云った。
            br
            |「死んだら、
            ruby
              rb 埋
              rp (
              rt う
              rp ）
            |めて下さい。大きな真珠貝で穴を掘って。そうして天から落ちて来る星の
            ruby
              rb 破片
              rp (
              rt かけ
              rp ）
            |を
            ruby
              rb 墓標
              rp (
              rt はかじるし
              rp ）
            |に置いて下さい。そうして墓の傍に待っていて下さい。また
            ruby
              rb 逢
              rp (
              rt あ
              rp ）
            |いに来ますから」
            br
            |自分は、いつ逢いに来るかねと聞いた。
            br
            |「日が出るでしょう。それから日が沈むでしょう。それからまた出るでしょう、そうしてまた沈むでしょう。――赤い日が東から西へ、東から西へと落ちて行くうちに、――あなた、待っていられますか」
            br
            |自分は黙って
            ruby
              rb 首肯
              rp (
              rt うなず
              rp ）
            |いた。女は静かな調子を一段張り上げて、
            br
            |「百年待っていて下さい」と思い切った声で云った。
            br
            |「百年、私の墓の
            ruby
              rb 傍
              rp (
              rt そば
              rp ）
            |に坐って待っていて下さい。きっと逢いに来ますから」
            br
            |自分はただ待っていると答えた。すると、黒い
            ruby
              rb 眸
              rp (
              rt ひとみ
              rp ）
            |のなかに
            ruby
              rb 鮮
              rp (
              rt あざやか
              rp ）
            |に見えた自分の姿が、ぼうっと
            ruby
              rb 崩
              rp (
              rt くず
              rp ）
            |れて来た。静かな水が動いて写る影を乱したように、流れ出したと思ったら、女の眼がぱちりと閉じた。長い
            ruby
              rb 睫
              rp (
              rt まつげ
              rp ）
            |の間から涙が頬へ垂れた。――もう死んでいた。
            br
            |自分はそれから庭へ下りて、真珠貝で穴を掘った。真珠貝は大きな
            ruby
              rb 滑
              rp (
              rt なめら
              rp ）
            |かな
            ruby
              rb 縁
              rp (
              rt ふち
              rp ）
            |の
            ruby
              rb 鋭
              rp (
              rt する
              rp ）
            |どい貝であった。土をすくうたびに、貝の裏に月の光が差してきらきらした。
            ruby
              rb 湿
              rp (
              rt しめ
              rp ）
            |った土の
            ruby
              rb 匂
              rp (
              rt におい
              rp ）
            |もした。穴はしばらくして掘れた。女をその中に入れた。そうして柔らかい土を、上からそっと掛けた。掛けるたびに真珠貝の裏に月の光が差した。
            br
            |それから星の
            ruby
              rb 破片
              rp (
              rt かけ
              rp ）
            |の落ちたのを拾って来て、かろく土の上へ乗せた。星の破片は丸かった。長い間大空を落ちている
            ruby
              rb 間
              rp (
              rt ま
              rp ）
            |に、
            ruby
              rb 角
              rp (
              rt かど
              rp ）
            |が取れて
            ruby
              rb 滑
              rp (
              rt なめら
              rp ）
            |かになったんだろうと思った。
            ruby
              rb 抱
              rp (
              rt だ
              rp ）
            |き
            ruby
              rb 上
              rp (
              rt あ
              rp ）
            |げて土の上へ置くうちに、自分の胸と手が少し暖くなった。
            br
            |自分は
            ruby
              rb 苔
              rp (
              rt こけ
              rp ）
            |の上に坐った。これから百年の間こうして待っているんだなと考えながら、腕組をして、丸い
            ruby
              rb 墓石
              rp (
              rt はかいし
              rp ）
            |を眺めていた。そのうちに、女の云った通り日が東から出た。大きな赤い日であった。それがまた女の云った通り、やがて西へ落ちた。赤いまんまでのっと落ちて行った。一つと自分は
            ruby
              rb 勘定
              rp (
              rt かんじょう
              rp ）
            |した。
            br
            |しばらくするとまた
            ruby
              rb 唐紅
              rp (
              rt からくれない
              rp ）
            |の
            ruby
              rb 天道
              rp (
              rt てんとう
              rp ）
            |がのそりと
            ruby
              rb 上
              rp (
              rt のぼ
              rp ）
            |って来た。そうして黙って沈んでしまった。二つとまた勘定した。
            br
            |自分はこう云う風に一つ二つと勘定して行くうちに、赤い日をいくつ見たか分らない。勘定しても、勘定しても、しつくせないほど赤い日が頭の上を通り越して行った。それでも百年がまだ来ない。しまいには、
            ruby
              rb 苔
              rp (
              rt こけ
              rp ）
            |の
            ruby
              rb 生
              rp (
              rt は
              rp ）
            |えた丸い石を眺めて、自分は女に
            ruby
              rb 欺
              rp (
              rt だま
              rp ）
            |されたのではなかろうかと思い出した。
            br
            |すると石の下から
            ruby
              rb 斜
              rp (
              rt はす
              rp ）
            |に自分の方へ向いて青い
            ruby
              rb 茎
              rp (
              rt くき
              rp ）
            |が伸びて来た。見る間に長くなってちょうど自分の胸のあたりまで来て留まった。と思うと、すらりと
            ruby
              rb 揺
              rp (
              rt ゆら
              rp ）
            |ぐ
            ruby
              rb 茎
              rp (
              rt くき
              rp ）
            |の
            ruby
              rb 頂
              rp (
              rt いただき
              rp ）
            |に、心持首を
            ruby
              rb 傾
              rp (
              rt かたぶ
              rp ）
            |けていた細長い一輪の
            ruby
              rb 蕾
              rp (
              rt つぼみ
              rp ）
            |が、ふっくらと
            ruby
              rb 弁
              rp (
              rt はなびら
              rp ）
            |を開いた。真白な
            ruby
              rb 百合
              rp (
              rt ゆり
              rp ）が鼻の先で骨に
            ruby
              rb 徹
              rp (
              rt こた
              rp ）
            |えるほど匂った。そこへ
            ruby
              rb 遥
              rp (
              rt はるか
              rp ）
            |の上から、ぽたりと
            ruby
              rb 露
              rp (
              rt つゆ
              rp ）
            |が落ちたので、花は自分の重みでふらふらと動いた。自分は首を前へ出して冷たい露の
            ruby
              rb 滴
              rp (
              rt したた
              rp ）
            |る、白い
            ruby
              rb 花弁
              rp (
              rt はなびら
              rp ）
            |に
            ruby
              rb 接吻
              rp (
              rt せっぷん
              rp ）
            |した。自分が百合から顔を離す
            ruby
              rb 拍子
              rp (
              rt ひょうし
              rp ）
            |に思わず、遠い空を見たら、
            ruby
              rb 暁
              rp (
              rt あかつき
              rp ）
            |の星がたった一つ
            ruby
              rb 瞬
              rp (
              rt またた
              rp ）
            |いていた。
            br
            |「百年はもう来ていたんだな」とこの時始めて気がついた。
      button.p-moves-btn.p-moves-btn__open.js-nav-button-open
        figure
          svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 14")
            polygon(points="0,0 30,0 30,3 0,3 ")
            polygon(points="0,11 30,11 30,14 0,14 ")
      .p-moves-gh.js-nav
        button.p-moves-btn.js-nav-button-close.p-moves-gh__btn
          figure
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.8 19.8")
              rect(x="-3.1" y="8.9" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.1007 9.9)" width="26" height="2")
              rect(x="8.9" y="-3.1" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.1007 9.9)" width="2" height="26")
        nav.p-moves-nav
          ul.p-moves-nav__list
            li.p-moves-nav__item
              a.p-moves-nav__link(href="https://moves.basicagency.com/" ) Intro
            li.p-moves-nav__item
              a.p-moves-nav__link(href="https://www.aozora.gr.jp/cards/000148/files/799_14972.html" ) The Building
            li.p-moves-nav__item
              a.p-moves-nav__link(href="https://www.google.co.jp/" ) Neighborhood
            li.p-moves-nav__item
              a.p-moves-nav__link(href="https://www.google.co.jp/" ) Our Vision
            li.p-moves-nav__item
              a.p-moves-nav__link(href="https://www.google.co.jp/" ) The Pursuit
        a.p-moves-gh__link(href="https://github.com/heines/imitate-css")
          figure.p-moves-gh__link-fig
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25")
              path(d="M20,20H0V0h20V20z M2,18h16V2H2V18z")
              rect(x="23" y="3" width="2" height="22")
              rect(x="3" y="23" width="22" height="2")
          span.p-moves-gh__link-label Image gallery
