.p-moves-gh {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #181818;
  background-size: 100rem auto;
  background-position: 50% 0;
  &__btn {
    opacity: 0;
    pointer-events: none;
  }
  &__link {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5vw;
    bottom: 4rem;
    text-decoration: none;
    pointer-events: none;
    color: #f5cece;
    font-weight: 500;
    line-height: 2.5rem;
    white-space: nowrap;
    background-color: inherit;
    z-index: 1;
    opacity: 0;
    @include l-more-than-mobile {
      line-height: 4rem;
    }
    @include l-mobile {
      line-height: 2.5rem;
    }
    &::after {
      height: .2rem;
      position: absolute;
      background-color: #f5cece;
      content: '';
      transform: scaleX(0);
      opacity: 0;
      animation-name: underline-out;
      animation-duration: 0.35s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      transition-property: opacity;
      transition-duration: 0.35s;
      transition-timing-function: ease;
      transition-delay: 0s;
      @include l-more-than-mobile {
        width: calc(100% - 4rem);
        left: 4rem;
        bottom: .8rem;
      }
      @include l-mobile {
        width: calc(100% - 2.5rem);
        left: 2.5rem;
        bottom: .4rem;
      }
    }
    &:hover {
      &::after {
        opacity: 1;
        animation-name: underline-in;
        animation-duration: 0.35s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
      }
    }
  }
  &__link-fig {
    @include l-more-than-mobile {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 1.5rem;
    }
    @include l-mobile {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
    }
    & svg {
      fill: #f5cece;
      display: block;
    }
  }
  &__link-label {
    font-size: 100%;
  }

  // interaction

  &.is-open {
    z-index: 500;
  }
  .is-open &__link {
    z-index: 500;
    opacity: 1;
    transition: opacity .5s ease;
    pointer-events: auto;
  }
  .is-open &__btn {
    z-index: 510;
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes underline-out {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes underline-in {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
