.p-moves {
  &__title {
    color: rgb(245, 206, 206);
  }
  &__nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &__item {
      list-style: none;
    }
    &__link {
      display: block;
      position: relative;
      font-size: 11vw;
      text-decoration: none;
      color: rgb(245, 206, 206);
      font-family: sans-serif;
      &::before {
        display: block;
        position: absolute;
        right: 0;
        content: '00';
        color: rgb(245, 206, 206);
        font-family: sans-serif;
        opacity: 0;
        transition: opacity .5s ease;
        transition-delay: .65s;
      }
      &::after {
        width: 100%;
        height: .1rem;
        position: absolute;
        left: 0;
        top: 81%;
        content: '';
        background-color: rgb(245, 206, 206);
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
