.p-moves-base {
  height: 1000px;
  position: relative;
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
  }
  &__title {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(#f5cece, 0.2);
    font-size: 20vw;
    z-index: 500;
    pointer-events: none;
  }
}
