.p-moves-btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: absolute;
  right: 5vw;
  z-index: 501;
  color: #f5cece;
  background-color: transparent;
  transition: opacity .25s ease;
  opacity: 1;
  outline: none;
  appearance:none;
  figure {
    width: 2rem;
    height: 2rem;
    display: block;
  }
  svg {
    fill: #f5cece;
    display: block;
  }
}
