.p-moves {
  height: 100vh;
  width: 100vw;
  z-index: 0;
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
    box-sizing: inherit;
  }
}
