.p-moves-btn {
  width: calc((10/16) * 3rem);
  height: calc((10/16) * 3rem);
  position: absolute;
  right: 5vw;
  top: calc((10/16) * 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5cece;
  background-color: transparent;
  transition: opacity .25s ease;
  outline: none;
  appearance:none;
  z-index: 15;
  figure {
    width: calc((10/16) * 1.5rem);
    height: calc((10/16) * 1.5rem);
    display: block;
  }
  svg {
    fill: #f5cece;
    display: block;
  }
}
