.p-agentur-block {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 90px;
  &--inner {
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
