doctype html
html
  head
    link(rel="stylesheet" href="./css/style.css")
    meta(charset="UTF-8")
    title imitate css
  body
    h1 imitate css
    nav.moves-nav
      ul.moves-nav__list
        li.moves-nav__item
          a.moves-nav__link(href="https://www.google.co.jp/" ) Intro
