extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.agenturloop.index;

block content
  .p-agentur-bodywrap
    .p-agentur-navigation
      .p-agentur-navigation__wrapper
        nav.p-agentur-navigation__main
          .p-agentur-navigation__bar
    .p-agentur-navigation__scroll
    .p-agentur-loopoffices.js-offices
    .p-agentur-contents
      .p-agentur-content-wrap
        .p-agentur-content
          .p-agentur-block.p-agentur-block--intro.p-agentur-block--inner.p-agentur-block--intro-initialized
          .p-agentur-block.p-agentur-block--teaser.p-agentur-block--inner.p-agentur-space--none
            .p-agentur-block__bg
            .p-agentur-teaser.p-agentur-teaser--big
              .p-agentur-teaser__wrapper
                .p-agentur-teaser__items
                  a(href="https://www.google.co.jp/").p-agentur-teaser__item
                    .p-agentur-teaser__item__inner
                      .p-agentur-teaser__img
                      .p-agentur-teaser__vid
                        video(src="../img/videos/drop.mp4" muted autoplay loop)
                      .p-agentur-teaser__logo
                        span.p-agentur-teaser__logo__img
                          //- img(src="../img/tv.svg")
                      .p-agentur-teaser__content
                        h3.p-agentur-teaser__headline
                          |NHK - drops
                        p.p-agentur-subheadline.p-agentur-subheadline--small
                          |Explore
                  a(href="https://www.google.co.jp/").p-agentur-teaser__item
                    .p-agentur-teaser__item__inner
                      .p-agentur-teaser__img
                      .p-agentur-teaser__vid
                        video()
                      .p-agentur-teaser__logo
                        span.p-agentur-teaser__logo__img
                          img(src="")
                      .p-agentur-teaser__content
                        h3.p-agentur-teaser__headline
                          |PUMA - Usain Bolt x BVB
                        p.p-agentur-subheadline.p-agentur-subheadline--small
                          |Explore
                  a(href="https://www.google.co.jp/").p-agentur-teaser__item
                    .p-agentur-teaser__item__inner
                      .p-agentur-teaser__img
                      .p-agentur-teaser__vid
                        video()
                      .p-agentur-teaser__logo
                        span.p-agentur-teaser__logo__img
                          img(src="")
                      .p-agentur-teaser__content
                        h3.p-agentur-teaser__headline
                          |PUMA - Usain Bolt x BVB
                        p.p-agentur-subheadline.p-agentur-subheadline--small
                          |Explore
          .p-agentur-block.p-agentur-block--teaser.p-agentur-block--inner.p-agentur-space--none-top-mobile.p-agentur-space--none-bottom
          //- modifierのみのクラスあり
          .p-agentur-block.p-agentur-block--button-full.p-agentur-block--inner.p-agentur-blockfullwidth0mobile.p-agentur-space--none
