extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.imitate.date_0221;

block content
  nav.moves-nav
    ul.moves-nav__list
      li.moves-nav__item
        a.moves-nav__link(href="https://www.google.co.jp/" ) Intro
